

<h1>All Cocktails 🍸</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail|%>



      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-description">
          <h2><%= cocktail.name %> <h2>

          </div>
          </div>
        </div>
      <% end %>



    <% end %>
  </div>
</div>
