// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.wrapper {
  background-color: white;
}

.container-cards {
  margin: 0px;
}

.row-cards-cards {
  margin: 0px;
}

.h1index {
  margin-left: 21px;
}

.container {
  background-color: white;
}

.body {
  background-color: white !important;
}
